In [13]:
import pandas as pd

In [14]:
raw_titanic = pd.read_csv('./data/train.csv', index_col='PassengerId')
raw_titanic.head(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [15]:
raw_titanic.drop(['Name','Ticket','Fare','Cabin','Embarked'],axis=1,inplace=True)
raw_titanic.head(10)

             Survived  Pclass     Sex   Age  SibSp  Parch
PassengerId
1                   0       3    male  22.0      1      0
2                   1       1  female  38.0      1      0
3                   1       3  female  26.0      0      0
4                   1       1  female  35.0      1      0
5                   0       3    male  35.0      0      0
6                   0       3    male   NaN      0      0
7                   0       1    male  54.0      0      0
8                   0       3    male   2.0      3      1
9                   1       3  female  27.0      0      2
10                  1       2  female  14.0      1      0

In [16]:


titanic_data = pd.get_dummies(raw_titanic, columns=['Sex'], dtype=int)
titanic_data.head(10)

             Survived  Pclass   Age  SibSp  Parch  Sex_female  Sex_male
PassengerId
1                   0       3  22.0      1      0           0         1
2                   1       1  38.0      1      0           1         0
3                   1       3  26.0      0      0           1         0
4                   1       1  35.0      1      0           1         0
5                   0       3  35.0      0      0           0         1
6                   0       3   NaN      0      0           0         1
7                   0       1  54.0      0      0           0         1
8                   0       3   2.0      3      1           0         1
9                   1       3  27.0      0      2           1         0
10                  1       2  14.0      1      0           1         0

In [17]:

titanic_data['age_label'] = pd.cut(titanic_data.Age, bins=[0, 2, 17, 65, 99], labels=['Baby', 'Child', 'Adult', 'Elderly'])
titanic_data.head(10)

,Survived,Pclass,Age,SibSp,Parch,Sex_female,Sex_male,age_label
PassengerId,,,,,,,,
1,0,3,22.0,1,0,0,1,Adult
2,1,1,38.0,1,0,1,0,Adult
3,1,3,26.0,0,0,1,0,Adult
4,1,1,35.0,1,0,1,0,Adult
5,0,3,35.0,0,0,0,1,Adult
6,0,3,NaN,0,0,0,1,NaN
7,0,1,54.0,0,0,0,1,Adult
8,0,3,2.0,3,1,0,1,Baby
9,1,3,27.0,0,2,1,0,Adult
10,1,2,14.0,1,0,1,0,Child

In [18]:

titanic_data.drop(['Age'], axis=1, inplace=True)
titanic_data.head(10)

             Survived  Pclass  SibSp  Parch  Sex_female  Sex_male age_label
PassengerId
1                   0       3      1      0           0         1     Adult
2                   1       1      1      0           1         0     Adult
3                   1       3      0      0           1         0     Adult
4                   1       1      1      0           1         0     Adult
5                   0       3      0      0           0         1     Adult
6                   0       3      0      0           0         1       NaN
7                   0       1      0      0           0         1     Adult
8                   0       3      3      1           0         1      Baby
9                   1       3      0      2           1         0     Adult
10                  1       2      1      0           1         0     Child

In [19]:
titanic_data.fillna('Adult', inplace=True)
titanic_data.head(10)

             Survived  Pclass  SibSp  Parch  Sex_female  Sex_male age_label
PassengerId
1                   0       3      1      0           0         1     Adult
2                   1       1      1      0           1         0     Adult
3                   1       3      0      0           1         0     Adult
4                   1       1      1      0           1         0     Adult
5                   0       3      0      0           0         1     Adult
6                   0       3      0      0           0         1     Adult
7                   0       1      0      0           0         1     Adult
8                   0       3      3      1           0         1      Baby
9                   1       3      0      2           1         0     Adult
10                  1       2      1      0           1         0     Child

In [20]:
titanic_data = pd.get_dummies(titanic_data, columns=['age_label'], dtype=int)
titanic_data.head(10)

,Survived,Pclass,SibSp,Parch,Sex_female,Sex_male,age_label_Baby,age_label_Child,age_label_Adult,age_label_Elderly
PassengerId,,,,,,,,,,
1,0,3,1,0,0,1,0,0,1,0
2,1,1,1,0,1,0,0,0,1,0
3,1,3,0,0,1,0,0,0,1,0
4,1,1,1,0,1,0,0,0,1,0
5,0,3,0,0,0,1,0,0,1,0
6,0,3,0,0,0,1,0,0,1,0
7,0,1,0,0,0,1,0,0,1,0
8,0,3,3,1,0,1,1,0,0,0
9,1,3,0,2,1,0,0,0,1,0
10,1,2,1,0,1,0,0,1,0,0

In [21]:
X = titanic_data.iloc[:, 1:]
y = titanic_data.iloc[:, 0]

In [22]:
X[:5]

,Pclass,SibSp,Parch,Sex_female,Sex_male,age_label_Baby,age_label_Child,age_label_Adult,age_label_Elderly
PassengerId,,,,,,,,,
1,3,1,0,0,1,0,0,1,0
2,1,1,0,1,0,0,0,1,0
3,3,0,0,1,0,0,0,1,0
4,1,1,0,1,0,0,0,1,0
5,3,0,0,0,1,0,0,1,0

In [23]:
y[:5]

PassengerId
1    0
2    1
3    1
4    1
5    0
Name: Survived, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, shuffle=True)

In [26]:
print(X_train.shape, X_test.shape)

(712, 9) (179, 9)

In [27]:
print(y_train.shape, y_test.shape)

(712,) (179,)

In [28]:
from tensorflow import keras

c:\PYTHONWORKSPACE-main\.venv\Lib\site-packages\keras\src\export\tf2onnx_lib.py:8: FutureWarning: In the future `np.object` will be defined as the corresponding NumPy scalar.
  if not hasattr(np, "object"):

In [35]:
model = keras.Sequential()
model.add(keras.Input(shape=(X_train.shape[1],)))
model.add(keras.layers.Dense(24, activation='relu'))
model.add(keras.layers.Dropout(0.5))
model.add(keras.layers.Dense(12, activation='relu'))
model.add(keras.layers.Dense(1, activation='sigmoid'))

In [36]:
model.summary()

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 24)                        240

 dropout (Dropout)                (None, 24)                          0

 dense_1 (Dense)                  (None, 12)                        300

 dense_2 (Dense)                  (None, 1)                          13

 Total params: 553 (2.16 KB)

 Trainable params: 553 (2.16 KB)

 Non-trainable params: 0 (0.00 B)

In [37]:
model.compile(loss='binary_crossentropy', optimizer=keras.optimizers.Adam(learning_rate=0.005), metrics=['accuracy'])

In [38]:
history = model.fit(X_train, y_train, epochs=50, batch_size=10)

Epoch 1/50
72/72  2s 3ms/step - accuracy: 0.6222 - loss: 0.6317
Epoch 2/50
72/72  0s 3ms/step - accuracy: 0.7795 - loss: 0.5107
Epoch 3/50
72/72  0s 2ms/step - accuracy: 0.7921 - loss: 0.4883
Epoch 4/50
72/72  0s 3ms/step - accuracy: 0.7907 - loss: 0.4673
Epoch 5/50
72/72  0s 3ms/step - accuracy: 0.7865 - loss: 0.4630
Epoch 6/50
72/72  0s 2ms/step - accuracy: 0.7992 - loss: 0.4600
Epoch 7/50
72/72  0s 2ms/step - accuracy: 0.8146 - loss: 0.4736
Epoch 8/50
72/72  0s 3ms/step - accuracy: 0.7978 - loss: 0.4548
Epoch 9/50
72/72  0s 4ms/step - accuracy: 0.7921 - loss: 0.4780
Epoch 10/50
72/72  0s 3ms/step - accuracy: 0.8048 - loss: 0.4486
Epoch 11/50
72/72  0s 3ms/step - accuracy: 0.8174 - loss: 0.4467
Epoch 12/50
72/72  0s 3ms/step - accuracy: 0.8020 - loss: 0.4572
Epoch 13/50
72/72  0s 2ms/step - accuracy: 0.8006 - loss: 0.4567
Epoch 14/50
72/72  0s 3ms/step - accuracy: 0.8034 - loss: 0.4513
Epoch 15/50
72/72  0s 3ms/step - accuracy: 0.8104 - loss: 0.4556
Epoch 16/50
72/72  0s 3ms/step - accuracy: 0.8034 - loss: 0.4511
Epoch 17/50
72/72  0s 3ms/step - accuracy: 0.8034 - loss: 0.4525
Epoch 18/50
72/72  0s 3ms/step - accuracy: 0.8132 - loss: 0.4423
Epoch 19/50
72/72  0s 2ms/step - accuracy: 0.8160 - loss: 0.4366
Epoch 20/50
72/72  0s 2ms/step - accuracy: 0.8146 - loss: 0.4516
Epoch 21/50
72/72  0s 3ms/step - accuracy: 0.8048 - loss: 0.4405
Epoch 22/50
72/72  0s 3ms/step - accuracy: 0.8020 - loss: 0.4516
Epoch 23/50
72/72  0s 3ms/step - accuracy: 0.8034 - loss: 0.4408
Epoch 24/50
72/72  0s 2ms/step - accuracy: 0.8090 - loss: 0.4380
Epoch 25/50
72/72  0s 2ms/step - accuracy: 0.8174 - loss: 0.4250
Epoch 26/50
72/72  0s 2ms/step - accuracy: 0.8174 - loss: 0.4407
Epoch 27/50
72/72  0s 3ms/step - accuracy: 0.8104 - loss: 0.4393
Epoch 28/50
72/72  0s 2ms/step - accuracy: 0.8132 - loss: 0.4279
Epoch 29/50
72/72  0s 2ms/step - accuracy: 0.8034 - loss: 0.4348
Epoch 30/50
72/72  0s 3ms/step - accuracy: 0.8188 - loss: 0.4467
Epoch 31/50
72/72  0s 2ms/step - accuracy: 0.8020 - loss: 0.4493
Epoch 32/50
72/72  0s 2ms/step - accuracy: 0.8202 - loss: 0.4237
Epoch 33/50
72/72  0s 2ms/step - accuracy: 0.8048 - loss: 0.4339
Epoch 34/50
72/72  0s 2ms/step - accuracy: 0.8132 - loss: 0.4393
Epoch 35/50
72/72  0s 2ms/step - accuracy: 0.8146 - loss: 0.4339
Epoch 36/50
72/72  0s 2ms/step - accuracy: 0.8118 - loss: 0.4348
Epoch 37/50
72/72  0s 2ms/step - accuracy: 0.8272 - loss: 0.4307
Epoch 38/50
72/72  0s 2ms/step - accuracy: 0.8174 - loss: 0.4344
Epoch 39/50
72/72  0s 2ms/step - accuracy: 0.8104 - loss: 0.4338
Epoch 40/50
72/72  0s 2ms/step - accuracy: 0.8174 - loss: 0.4303
Epoch 41/50
72/72  0s 2ms/step - accuracy: 0.8146 - loss: 0.4255
Epoch 42/50
72/72  0s 3ms/step - accuracy: 0.8132 - loss: 0.4289
Epoch 43/50
72/72  0s 3ms/step - accuracy: 0.8104 - loss: 0.4244
Epoch 44/50
72/72  0s 3ms/step - accuracy: 0.8048 - loss: 0.4332
Epoch 45/50
72/72  0s 3ms/step - accuracy: 0.8188 - loss: 0.4264
Epoch 46/50
72/72  0s 3ms/step - accuracy: 0.8132 - loss: 0.4329
Epoch 47/50
72/72  0s 3ms/step - accuracy: 0.8160 - loss: 0.4264
Epoch 48/50
72/72  0s 3ms/step - accuracy: 0.8287 - loss: 0.4147
Epoch 49/50
72/72  0s 2ms/step - accuracy: 0.8132 - loss: 0.4374
Epoch 50/50
72/72  0s 4ms/step - accuracy: 0.8202 - loss: 0.4342

In [39]:
score = model.evaluate(X_test, y_test)
print('Test Accuracy: %.2f' % (score[1]))

6/6  0s 7ms/step - accuracy: 0.8045 - loss: 0.4349
Test Accuracy: 0.80